@use "sass:map";
@import "style/pages/theme";

.hero_categories {
  position: relative;

  .hero_categories_all {
    // background: #a4afed;
    background: rgb(69, 69, 219);
    padding: 15px 25px 15px 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 18px;

    &:hover {
      color: #000;
    }

    svg,
    span {
      font-size: 16px;
      color: white;
      margin-right: 5px;
    }
    svg {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .ul_parent {
    padding-bottom: 20px;
    & > li {
      margin-top: 20px;
    }

    & > li > a > svg {
      transition: all 0.2s ease-in-out;
    }

    & > li:hover > a > svg {
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
    }
  }

  ul {
    position: absolute;
    opacity: 1;
    border: 1px solid #ebebeb;
    width: 100%;

    transition: all 0.2s;

    li {
      list-style: none;
      position: relative;

      a {
        text-decoration: none;
        background-color: transparent;
        font-size: 16px;
        color: rgb(1, 1, 1);
        line-height: 39px;
        display: block;
        // padding-left: 40px;
      }

      &:hover {
        a {
          color: rgb(14, 37, 69);
        }
      }
    }

    &.show {
      display: block;
    }

    &.hidden {
      opacity: 0;
    }

    .ul_category {
      background-color: #edf0f3;
      display: block;
      z-index: 99;
      position: absolute;
      top: 40px;
      left: 12%;
      border-radius: 15px;
      width: 94%;
      box-shadow: rgba(101, 77, 224, 0.2) 0px 8px 24px;

      & > li {
        padding: 10px 0;
      }

      & > li :hover {
        background-color: rgb(228, 213, 213);
      }
    }
  }
}
