@use "sass:map";
@import "style/pages/theme";

.hero_categories {
  position: relative;

  .hero_categories_all {
    background: #a4afed;
    padding: 15px 25px 15px 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 18px;

    &:hover {
      color: #000;
    }

    svg,
    span {
      font-size: 16px;
      color: white;
      margin-right: 5px;
    }
    svg {
      font-size: 20px;
      font-weight: bold;
    }
  }

  ul {
    position: absolute;
    opacity: 1;
    border: 1px solid #ebebeb;
    width: 100%;
    padding-bottom: 20px;
    transition: all 0.2s;

    li {
      margin-top: 20px;
      list-style: none;

      a {
        text-decoration: none;
        background-color: transparent;
        font-size: 16px;
        color: rgb(1, 1, 1);
        line-height: 39px;
        display: block;
        // padding-left: 40px;
      }

      &:hover {
        a {
          color: rgb(93, 132, 188);
        }
      }
    }
    &.hidden {
      opacity: 0;
    }
  }
}
