@use "sass:map";
@import "style/pages/all";

.container_details {
  margin-left: 100px;
  width: 1170px;
  .container-breadcrumb {
    .breadcrumb {
      padding: 8px 15px;
      border-radius: 4px;
      margin-bottom: 20px;
      font-size: 18px;

      &-item {
        display: inline-block;
        margin-right: 5px;

        &:last-child {
          font-weight: bold;
          color: #000;
        }

        &:not(:last-child)::after {
          content: "›";
          margin-left: 5px;
        }
      }
    }
  }

  .product-detail-container {
    padding-left: 50px;
    // margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    border-radius: 50px;
    border-radius: 12px;
    background: rgb(255, 255, 255);

    .product-detail-left {
      width: 500px;

      .product-image {
        // border: 5px solid rgb(135, 10, 10);
        // border-top-left-radius: 80px;
        // border-bottom-right-radius: 80px;
        padding-top: 40px;
        padding-bottom: 50px;
        width: 400px;
        height: auto;
        text-align: center;

        .product-sale {
          padding-top: 5px;
          color: white;
          height: 30px;
          width: 80px;
          background-color: red;
          border-top-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }

        img {
          width: 300px;
          height: 350px;
        }
      }

      .product-image-bottom {
        display: flex;
        margin-bottom: 50px;
        width: 95px;
        height: 95px;
        gap: 5px;

        .product-image-bottom-size {
          padding: 10px;
          border-radius: 12px;
          border: 1px solid rgb(238, 231, 231);
          width: 100%;
          height: 100%;

          &:hover {
            border: 1px solid rgb(71, 82, 142);
            cursor: pointer;
          }
        }
      }
    }

    .product-detail-right {
      width: 700px;
      // border: 5px solid rgb(135, 10, 10);
      // border-top-left-radius: 80px;
      // border-bottom-right-radius: 80px;
      padding: 40px 50px 20px 50px;

      .product-title {
        padding-top: 20px;
        font-size: 30px;
      }

      .product-price-before {
        padding-top: 10px;
        font-size: 20px;
        text-decoration: line-through;
        color: #b39090;
      }

      .product-price {
        padding-top: 20px;
        font-size: 40px;
        color: #3d58b0;
      }

      .product-quantity {
        padding-top: 20px;

        label {
          font-size: 18px;
        }
        input {
          width: 40px;
          height: 30px;
          // border: 3px solid rgb(21, 2, 42);
          border-radius: 20%;
          font-size: 18px;
          text-align: center;
        }
      }

      .product-description {
        padding-top: 20px;
        padding-bottom: 20px;
        overflow-wrap: anywhere;
      }

      .add-to-cart-button {
        margin-left: 170px;
        height: 50px;
        width: 200px;
        text-align: center;
        border-radius: 20px;
        background-color: rgb(185, 180, 212);
        font-size: 18px;
        font-weight: bold;
        color: black;
      }

      .add-to-cart-button:hover {
        color: white;
        background-color: red;
      }
    }
  }
}
.container-information-more {
  padding: 40px;
  // border: 5px solid #e4cccc;
  border-radius: 12px;
  // border-top-left-radius: 70px;
  // border-bottom-right-radius: 70px;
  background: white;

  h2 {
    text-align: center;
    color: #6079cc;
    font-size: 26px;
  }
  .table-container {
    display: flex;
    flex-direction: column;
  }

  .table-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Kẻ đường ngang cho mỗi hàng */
  }

  .table-header {
    font-size: 17px;
  }
  .table-content {
    padding: 5px;
  }

  .table-header {
    font-weight: bold;
    border-right: 1px solid #ccc;
  }

  .table-content {
    border-right: 1px solid #ccc;
  }
}

.container-mota {
  padding-top: 30px;
  padding-bottom: 50px;
  .container-text-mota {
    background: white;
    height: auto;
    // border: 5px solid pink;
    padding: 40px;
    padding-bottom: 50px;
    border-radius: 12px;
    // border-top-left-radius: 70px;
    // border-bottom-right-radius: 70px;

    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 30px;
      color: #6079cc;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      transition: ease-in-out 0.5s linear;

      &.show {
        height: auto;
      }
      &.hidden {
        height: 150px;
      }
    }

    .btnXemthem {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      .btnXemthem_link {
        background: #524a95;
        height: 30px;
        text-decoration: underline;
        width: 120px;
        font-size: 16px;
        color: #fbfbfb;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
  }
}
