@use "sass:map";

.container {
  .container_contact {
    display: flex;
    .image-container-image {
      padding-top: 50px;
      padding-left: 300px;
      width: 40%;
      height: auto;

      .image_size {
        height: 152px;
      }
    }
  }
  .container_contact_text {
    padding-right: 300px;
    margin-top: 50px;
    font-size: 24px;
    color: rgb(222, 47, 47);
  }
}
