@use "sass:map";
@import "style/pages/all";

.container_categories_slider {
  max-width: 1200px !important;
  margin-top: 30x !important;

  .container_slider {
    .container_slider_item {
      // border: 1px solid black;
      height: 250px;
      width: 250px;
      position: relative;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-top: 20px;
      border-radius: 10px;

      p {
        position: absolute;
        left: 5%;
        bottom: 20px;
        text-align: center;
        font-size: 24px;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 270px;
        cursor: pointer;

        &:hover {
          background: rgb(231, 127, 98);
        }
      }
    }

    .react-multi-carousel-item:not(:first-child):not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.container {
  .featured {
    margin-top: 50px;

    .section-title {
      text-align: center;
      margin-bottom: 50px;

      h2 {
        position: relative;
      }

      h2:after {
        position: absolute;
        left: 0;
        bottom: -15px;
        right: 0;
        height: 4px;
        width: 80px;
        background: map.get($theme-colors, "main");
        content: "";
        margin: 0 auto;
      }
    }

    .filter-options {
      padding-bottom: 50px;
      display: flex;
      column-gap: 25px;
      justify-content: center;
      font-size: 18px;
    }

    .react-tabs {
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }

      li {
        list-style: none;
        font-size: 18px;
        color: map.get($theme-colors, "normal-text");
        display: inline-block;
        margin-right: 25px;
        position: relative;
        cursor: pointer;
      }
    }

    .featured_item {
      margin-bottom: 70px;

      &:hover {
        .featured_item_pic_hover.featured_item_pic_hover_custom {
          bottom: 25px !important;
        }
      }

      .featured_item_pic {
        height: 250px;
        width: 250px;
        position: relative;
        overflow: hidden;
        border: 1px solid rgb(217, 199, 199);
        border-radius: 10px;

        .featured_item_pic_hover {
          position: absolute;
          left: 0;
          bottom: -110px;
          width: 100%;
          text-align: center;
          transition: all 0.3s;

          li {
            list-style: none;
            display: inline-block;
            margin-right: 10px;

            &:hover {
              svg {
                background: #7fad39;
                background-color: #7fad39;
                color: white;
                transform: rotate(360deg) !important;
              }
            }

            svg {
              padding: 5px;
              height: 40px;
              width: 40px;
              border: 2px solid #ebebeb;
              background: white;
              color: #565555;
              transition: all 0.3s;
              border-radius: 50%;
            }
          }
        }
      }

      .featured_item_text {
        text-align: center;
        width: 250px;

        h6 {
          margin-top: 10px;
          font-size: 15px;
          font-weight: 400;
          height: 60px;

          a {
            color: black;
            text-decoration: none;
          }
        }

        .featured_item_text_price {
          padding-top: 5px;
          text-decoration: line-through;
          color: #b0add0;
          font-size: 12px;
        }

        h5 {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 700;
          color: #14131e;
        }
      }
    }
  }
}

.banner {
  display: flex;
  gap: 100px;
  margin-bottom: 30px;

  img {
    width: 500px;
    height: 200px;
  }
}

.container_contact_custom {
  padding-left: 60px;
}
