@use "sass:map";
@import "style/pages/all";

.container_categories_slider {
  max-width: 1200px !important;
  margin-top: 30x !important;

  .container_slider {
    .container_slider_item {
      // border-radius: 1px solid black;
      height: 300px;
      width: 240px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      margin-top: 20px;
      border-radius: 10px;
      transition: transform 0.3s;

      p {
        position: absolute;
        left: 5%;
        bottom: 20px;
        text-align: center;
        font-size: 24px;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 270px;
        cursor: pointer;

        &:hover {
          background: rgb(231, 127, 98);
        }
      }
    }
    .container_slider_item:hover {
      transform: scale(1.1);
    }

    .container_slider_link {
      padding-left: 80px;
      color: black;
    }

    .react-multi-carousel-item:not(:first-child):not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.container {
  .featured {
    margin-top: 50px;

    .section-title {
      text-align: center;
      margin-bottom: 50px;

      h2 {
        position: relative;
      }

      h2:after {
        position: absolute;
        left: 0;
        bottom: -15px;
        right: 0;
        height: 4px;
        width: 80px;
        background: map.get($theme-colors, "main");
        content: "";
        margin: 0 auto;
      }
    }

    .react-tabs {
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }

      li {
        list-style: none;
        font-size: 18px;
        color: map.get($theme-colors, "normal-text");
        display: inline-block;
        margin-right: 25px;
        position: relative;
        cursor: pointer;
      }
    }

    .featured_item {
      padding-left: 40px;
      margin-bottom: 70px;

      &:hover {
        .featured_item_pic_hover {
          bottom: -25px !important;
        }
      }

      .featured_item_pic {
        height: 250px;
        width: 250px;
        position: relative;
        overflow: hidden;
        border: 1px solid black;
        border-radius: 10px;

        .featured_item_picc {
          color: white;
          padding-top: 2px;
          text-align: center;
          background-color: red;
          height: 25px;
          width: 70px;
          border-bottom-right-radius: 10px;
        }

        .featured_item_pic_hover {
          position: absolute;
          left: 0;
          bottom: -110px;
          width: 100%;
          text-align: center;
          transition: all 0.3s;

          li {
            list-style: none;
            display: inline-block;
            margin-right: 10px;

            &:hover {
              svg {
                background: #7fad39;
                background-color: #7fad39;
                color: white;
                transform: rotate(360deg) !important;
              }
            }

            svg {
              padding: 5px;
              height: 40px;
              width: 40px;
              border: 2px solid #ebebeb;
              background: white;
              color: #565555;
              transition: all 0.3s;
              border-radius: 50%;
            }
          }
        }
      }

      .featured_item_text {
        text-align: center;
        width: 250px;

        h6 {
          margin-top: 10px;
          font-size: 16px;
          font-weight: 400;

          a {
            color: black;
            text-decoration: none;
          }
        }

        h5 {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 700;
          color: #2b23a4;
        }
      }

      .featured_item_text_custom {
        h6 {
          .custom_color {
            color: white !important;
          }
        }

        .featured_item_text_price {
          color: rgb(232, 219, 219);
        }

        .featured_item_text_price_custom {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
div.container.container_custom_sale {
  // background-image: url("../../../assets/user/image/background/bg1.webp") !important;
  background: rgb(45, 45, 210) !important;
  margin: 0 !important;
  max-width: 100% !important;
  padding: 20px 130px !important;
  position: relative;
  background-repeat: no-repeat !important;

  & .section-title-custom {
    position: absolute;
    top: -11px;
    width: 100%;
    left: 0;

    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      font-size: 20px;
      color: white;
    }
  }
}

.banner {
  padding-left: 115px;
  display: flex;
  gap: 100px;
  margin-bottom: 30px;

  img {
    width: 500px;
    height: 200px;
  }
}
