@use "sass:map";
@import "style/pages/all";

.container {
  .container_details {
    .container-information-more {
      margin-right: 150px;

      .container_details_history {
        display: flex;
        padding-top: 20px;

        .container_details_history_name {
          width: 10%;
          text-align: center;
        }
        .container_details_history_quantity {
          width: 20%;
          text-align: center;
        }

        .container_details_history_image {
          width: 15%;
          text-align: center;
        }
        .container_details_history_price {
          width: 15%;
          text-align: center;
        }
        .container_details_history_status {
          width: 20%;
          text-align: center;
        }
        .container_details_history_more {
          display: flex;
          gap: 10px;
          width: 15%;
          text-align: center;

          .container_details_history_more_button {
            a {
              text-decoration: none;
              color: rgb(255, 255, 255);
            }
            width: 100px;
            height: 40px;
            background-color: rgb(144, 135, 221);
            border-radius: 10px;
            color: white;
            font-size: 16px;

            &:hover {
              background-color: red;
              cursor: pointer;
            }
          }

          .container_details_history_more_button_inhoadon {
            a {
              text-decoration: none;
            }
            width: 100px;
            height: 40px;
            background-color: rgb(144, 135, 221);
            border-radius: 10px;
            font-size: 16px;
            color: white;

            &:hover {
              background-color: red;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.container_custom_size {
  max-width: 1411px !important;
}
