@use "sass:map";
@import "style/pages/all";

.container {
  .container_top {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border: 7px solid rgb(187, 207, 234);
    .container__form {
      padding-top: 20px;

      .container__form_h2 {
        padding-left: 70px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        color: #6587b8;

        .form_icon {
          margin-right: 10px;
          color: #6587b8;
        }
      }
      .container__form__div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;

        .container__form__input {
          width: 80%;
          height: 45px;
          border-radius: 10px;
          border: 1px solid rgb(143, 89, 209);
          padding-left: 30px;
          font-size: 15px;
          color: #17273d;
        }
      }
      .container__form__input_custom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 20px;

        .container__form__input_double {
          width: 39%;
          height: 45px;
          border-radius: 10px;
          border: 1px solid rgb(143, 89, 209);
          padding-left: 30px;
          font-size: 15px;
          color: #17273d;
        }
      }
    }
  }
}

.container__form__label {
  padding-left: 122px;
  font-size: 18px;
  color: #4e6d97;
}
.container__form__label input[type="checkbox"] {
  margin-right: 10px;
}

.container__form__button {
  padding-top: 50px;
  padding-left: 450px;

  .container__form__button_yes {
    height: 40px;
    width: 220px;
    border: 1px solid black;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 900;
    background: rgb(132, 132, 222);

    &:hover {
      background: #dd1111;
      cursor: pointer;
      color: white;
    }
  }
}
